:root {
    --clr-neon: hsl(176, 97%, 34%);
    --clr-bg: hsl(178, 38%, 13%);
    --clr-gc-bg: hsl(180, 100%, 5%);
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    display: flex;
    justify-content: center;
    width: 100%;
}
body {

    width: min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background: var(--clr-bg);
    font-family: 'Bungee-inline', "Segoe Print", serif;
    color: var(--clr-neon);


}

.title {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    margin-left: 0.7rem;

}

.game-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: #c5ffe7 0.15em solid;
    padding: 2rem 5rem 5rem 5rem;
    box-shadow: inset 0 0 0.25em 0 var(--clr-neon),
    0 0 0.25em 0 var(--clr-neon);
    background: var(--clr-gc-bg);
    ;

}
.input {

    color: var(--clr-neon);
    border: CurrentColor 0.15em solid;
    border-radius: 0.25em;
    background: var(--clr-gc-bg);
    box-shadow: inset 0 0 0.25em 0 var(--clr-neon),
    0 0 0.25em 0 var(--clr-neon);
    padding: 0.3rem;


}
.del-btn {

    position: absolute;
    margin-left: 0.5rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--clr-neon);
    border: CurrentColor 0.1em solid;
    padding: 0.2rem;
    border-radius: 0.2rem;
    box-shadow: inset 0 0 0.2em 0 var(--clr-neon),
    0 0 0.2em 0 var(--clr-neon);
}
.del-btn-cnt {
    display: flex;
    align-items: center;
}
.cnt-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.neonText {
    font-weight: bolder;
    font-size: 3rem;
    text-shadow:
            0 0 1em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;
    text-decoration: aqua;

}

.add-team-btn {
    justify-content: center;
    cursor: pointer;
    font-size: 0.7rem;
    margin-top: 3rem;
    text-decoration: none;
    color: var(--clr-neon);
    border: CurrentColor 0.15em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
    background: var(--clr-gc-bg);

    /*text-shadow:
            0 0 0.125em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;*/
    box-shadow: inset 0 0 0.3em 0 var(--clr-neon),
    0 0 0.3em 0 var(--clr-neon);
}
.start-button {
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 3rem;
    text-decoration: none;
    color: var(--clr-neon);
    border: CurrentColor 0.15em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
    background: var(--clr-gc-bg);

    text-shadow:
            0 0 0.125em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.3em 0 var(--clr-neon),
            0 0 0.3em 0 var(--clr-neon);
}
.rotateGAME {
    margin: 0 0 0 0;
    height: min-content;
    position: relative;
    right: 1rem;
    top: 2.1rem;
    font-size: 0.75rem;
    color: var(--clr-neon);
    transform: rotate(295deg);
    text-shadow:
            0 0 0.125em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;
}


.backhome-button {
    cursor: pointer;
    font-size: 0.5rem;
    margin-top: 1.5rem;
    text-decoration: none;
    color: #efefef;
    border: CurrentColor 0.15em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
    background: var(--clr-gc-bg);
    text-shadow: 0 0 0.125em hsl(0 0% 70% / 0.1),
    0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.3em 0 var(--clr-neon),
    0 0 0.3em 0 var(--clr-neon);
}
.backhome-button-pos {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.go-next-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font: 0.8rem Arial;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--clr-neon);
    border: CurrentColor 0.15em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
    background: var(--clr-gc-bg);
    outline: none;
   /* text-shadow:
            0 0 0.125em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;*/
    box-shadow: inset 0 0 0.3em 0 var(--clr-neon),
    0 0 0.3em 0 var(--clr-neon);

}

.btn-cnt {
    display: flex;
    justify-content: center;
}

.time-sel-cnt {
    margin-top: 1.5rem;
    font-family: Arial;


}
h3 {
    display: flex;
    justify-content: center;
}
.time-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time-form input {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}
.stop-btn {
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: darkred;
    border: CurrentColor 0.3em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
    background: var(--clr-gc-bg);

    box-shadow: inset 0 0 0.3em 0 darkred,
    0 0 0.3em 0 darkred;
}

.game-live-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-family: Arial serif;
}

.timer-cnt {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.points-boxes {
    display: flex;
    font-family: "Arial Black";
}
.points-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--clr-neon);
    border-radius: 15px;
    margin-right: 1rem;
    margin-top: 2rem;
    padding: 0.3rem;
    font-size: 0.9rem;
}
.points-score {
    display: flex;
    justify-content: center;
    font-size: 2rem;

}
.password {
    font-family: 'Bungee-inline', "Segoe Print", serif;
    font-size: 3rem;
    margin-top: 1.5rem;
    border: 1px solid var(--clr-neon);
    border-radius: 1rem;
    box-shadow: inset 0 0 0.3em var(--clr-neon),
    0 0 0.3em 0 var(--clr-neon);
    padding: 0.8rem 1rem;
}

.time-dsp {
    font-size: 4rem;
}