:root {
    --clr-neon: hsl(176, 97%, 34%);
    --clr-bg: hsl(176, 39%, 9%);}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-bg);
    font-family: 'Bungee-inline', cursive;
    color: var(--clr-neon);

}

.gameContainer {


}

.neonText {
    font-size: 2rem;
}
.start-button-cnt {
    display: flex;
    justify-content: center;
}
.start-button {

    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--clr-neon);
    border: CurrentColor 0.15em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
    background: var(--clr-bg);

    text-shadow:
            0 0 0.125em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.3em 0 var(--clr-neon),
            0 0 0.3em 0 var(--clr-neon);
}

.rotateGAME {
    margin: 0 0 0 0;
    height: min-content;
    position: relative;
    right: 0.7rem;
    top: 1.1rem;
    width:max-content;
    font-size: 0.55rem;
    color: var(--clr-neon);
    -webkit-transform: rotate(295deg);
    -moz-transform: rotate(295deg);
    -ms-transform: rotate(295deg);
    -o-transform: rotate(295deg);
    transform: rotate(295deg);
    text-shadow:
            0 0 0.125em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;
}
.title {
    display: inline-flex;
    margin-top: 1rem;

}

.backhome-button {
    justify-content: center;
    cursor: pointer;
    font-size: 0.4rem;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--clr-neon);
    border: CurrentColor 0.15em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
    background: var(--clr-bg);

    text-shadow:
            0 0 0.125em hsl(0 0% 70% / 0.1),
            0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.3em 0 var(--clr-neon),
    0 0 0.3em 0 var(--clr-neon);
}

.home-button-cnt {
    display: flex;
    justify-content: center;
}